.footer {
  background-color: black;
  color: #636973;
}

.footer-copy {
  color: white;
  display: block;
  text-align: center;
  padding: 40px 0px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  padding: 120px 20px 60px 20px;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #c3c3c3;
}

.lista-contatos {
  display: grid;
  gap: 30px;
}

.lista-contatos {
  justify-content: center;
}

.lista-contatos li {
  position: relative;
}

.lista-contatos li::before {
  content: "";
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  left: -36px;
}

.lista-contatos .mail::before {
  background-image: url("/img/mail.svg");
}
.lista-contatos .fone::before {
  background-image: url("/img/fone.svg");
}
.lista-contatos .linkedin::before {
  background-image: url("/img/linkedin-2-30.svg");
  height: 30px;
  width: 30px;
  top: -10px;
}

@media (width <=800px) {
  .footer-container {
    padding-top: 40px;
    grid-template-columns: 1fr;
  }

  .lista-contatos {
    justify-content: flex-start;
    padding-left: 40px;
  }
}
